.w-194{
    width: 194px;
}

.img{
    height: 250px;
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.m-10 {
    margin: 10px;
}

footer {
    //position: fixed;
    bottom: 0px;
    width: 100%;
}