<!--dropdown -->
<h1>Dropdown Example</h1><br>
<label for="dropdown" class="label">Dropdown:</label><br>
<select id="dropdown" class="dropdwn" name="dropdown">
    <option>Select an option</option>
    <option value="India">India</option>
    <option value="USA">USA</option>

</select>

<br><br><br>


<!-- Input field -->
<h1>Input Example</h1><br>
<label for="input" class="label">Name:</label><br>
<input type="text" name="name" id="input" class="input"><br><br>

<!-- Checkbox -->
<h1>Ckeckbox Example</h1><br>
<label for="checkbox" class="label">Course Name:</label><br>
<input type="checkbox" name="name" id="checkbox" class="checkbox">
<label for="input" class="label">Angular</label><br>
<input type="checkbox" name="name" id="html" class="checkbox">
<label for="html" class="label">HTML</label><br>
<input type="checkbox" name="name" id="css" class="checkbox">
<label for="css" class="label">CSS</label><br>

<br><br><br>
<!--- Tables -->

<h1>Table Example</h1><br>
<table class="tableExample">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hendry</td>
            <td>22</td>
            <td>India</td>
        </tr>
    </tbody>
</table>

<br>
<h1>Links Example</h1><br>
<a href="#" class="anchorTag">Hyper Links</a>

